---
import { Image } from "astro:assets";

import BaseSimple from "@layouts/BaseSimple.astro";

import gameImage from "@assets/images/portfolio/game.png";
import vmveImage from "@assets/images/portfolio/vmve.png";
import websiteImage from "@assets/images/portfolio/website.png";
import arduinoImage from "@assets/images/portfolio/arduino_temp_sensor.jpg";

const portfolio = [
    {
        name: "Game",
        description: "My latest project in which I'm developing a game using my own internal rendering engine.",
        image: gameImage
    },
    {
        name: "VMVE",
        url: "https://github.com/ZOulhadj/vmve",
        description: "Vulkan Model Viewer and Importer. A project developed as part of my final year project at University.",
        image: vmveImage
    },
    {
        name: "zakariyaoulhadj.com",
        url: "https://github.com/ZOulhadj/zakariyaoulhadj.com",
        description: "My personal website built using Astro.js",
        image: websiteImage
    },
    {
        name: "Label Web Scraper",
        description: "A simple Python script to dynamically extract record labels from a website.",
    },
    {
        name: "Arduino Temperature Sensor",
        description: "A temperature sensor using a custom built circuit and an Arduino Uno.",
        image: arduinoImage
    },
];


---

<BaseSimple>
    <div>
        <h1 class="text-black dark:text-white bold text-4xl mb-10">
            Portfolio
        </h1>

        <ul class="flex flex-col gap-2 list-disc text-black dark:text-white">
            {
            portfolio.map((item) => (
            <li>
                { item.url ?
                <a href={item.url} class="text-xl text-blue-600 dark:text-blue-400 hover:underline" target="_blank">
                    {item.name}
                </a>
                :
                <h1 class="text-xl">
                    {item.name}
                </h1>
                }
                <p class="">
                    {item.description}
                </p>
                { item.image &&
                <Image
                    src={item.image}
                    class="border border-gray-400 mb-2"
                    width={400}
                    alt="Project overview"
                    loading="eager"
                />

                }

            </li>
            ))}
        </ul>
    </div>
</BaseSimple>
